

.grid0  { display: grid;
grid-template-columns: 200px repeat(auto-fill, 100px) 300px;}

.grid4 {
border: 1px solid black;
padding:10px;
}

.grid2 {
float:left;
display: block;
box-sizing:border-box;
}